@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
html {
	margin: 0;
	font-family: 'PT Sans';
	height: 100%;
}
body {
	background: #138acb;
	height: 100%;
}
body.loading {
	/*needs custom loader*/
	background-image: url(http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_512.gif); 
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
}
header#top {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-image: url('logo.png');
	background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 30px; 
    background-color: #138acb;
}
main {
	padding-top:60px;
}
main ul#shows {
	padding: 0;
	margin: 0;
	list-style: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
main ul#shows li.show {
	width: 100%;
	color: white;
	font-family: 'PT Sans';
	text-decoration: none;
	display: list-item;
	/*border-bottom: 1px solid rgba(255,255,255,0.7);*/
	padding: 8px 0;
	clear: left;
	
}
main ul#shows li.show:hover {

}
main ul#shows li.show:first-child {
	margin-top: 0;
}
main ul#shows li.show img.thumb {
	width: 70px;
	height: 70px;
	margin-right: 8px;
	float: left;
}
main ul#shows li.show header {
	width: calc(100% - 78px);
	width: -moz-calc(100% - 78px);
	width: -webkit-calc(100% - 78px);
	float: left;
}
main ul#shows li.show header h1.title {
	font-size: 18px;
	font-weight: 700;
	width: 100%;
	display: block;
	margin: 0;
}
main ul#shows li.show header .date {
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
	opacity: .8;
}